{% extends 'base.html.twig' %}

{% block title %}Payment Request{% endblock %}

{% block body %}
    <h1>Payment Request</h1>

    {{ form_start(form, {'action': path('payment_request'), 'method': 'post', 'attr': {'id': 'payment-request-form'}}) }}

        {{ form_widget(form) }}

        <button type="submit">Send request</button>

    {{ form_end(form) }}

    <p>
        <a href="{{ path('admin_payment_request') }}">Go to Admin</a>
    </p>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/front/app.js') }}"></script>
{% endblock %}
